<?xml version="1.0" ?>
<robot name="My_Robot_Cam" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find my_robot_cam_description)/urdf/materials.xacro" />
<xacro:include filename="$(find my_robot_cam_description)/urdf/My_Robot_Cam.ros2control" />
<xacro:include filename="$(find my_robot_cam_description)/urdf/My_Robot_Cam.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.09727696957668519 -1.0302869668521452e-15 0.4078021743991166" rpy="0 0 0"/>
    <mass value="234.7770329034331"/>
    <inertia ixx="30.45054" iyy="20.65215" izz="32.896368" ixy="-0.0" iyz="-0.0" ixz="-0.345272"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_1">
  <inertial>
    <origin xyz="5.551115123125783e-17 0.0 -0.017000000000000126" rpy="0 0 0"/>
    <mass value="1.191651999466405"/>
    <inertia ixx="0.000907" iyy="0.000363" izz="0.00104" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.336 0.0 -0.714" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.336 0.0 -0.714" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="0.04399999999999997 0.18599999999999997 -0.3770000000000002" rpy="0 0 0"/>
    <mass value="2.1007654145366375"/>
    <inertia ixx="0.001356" iyy="0.001356" izz="0.002034" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.046 0.186 -1.124" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.046 0.186 -1.124" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="0.02400000000000009 0.20900000000000019 -0.4000000000000001" rpy="0 0 0"/>
    <mass value="1.555503053757221"/>
    <inertia ixx="0.004956" iyy="0.009411" izz="0.004956" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.024 -0.2012 -0.508" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.024 -0.2012 -0.508" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="0.023999999999999917 0.1630000000000001 -0.4" rpy="0 0 0"/>
    <mass value="1.5555030537572214"/>
    <inertia ixx="0.004956" iyy="0.009411" izz="0.004956" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.024 0.5732 -0.508" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.024 0.5732 -0.508" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_arm_1">
  <inertial>
    <origin xyz="0.19170933227492737 -0.002691315286684093 -0.020000000000000157" rpy="0 0 0"/>
    <mass value="2.420566632833367"/>
    <inertia ixx="0.000455" iyy="0.031668" izz="0.031478" ixy="0.000981" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.057381 -0.331012 -0.1545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/left_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.057381 -0.331012 -0.1545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/left_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_arm_1">
  <inertial>
    <origin xyz="0.19170933227492737 0.0026923152866838995 -0.0200000000000001" rpy="0 0 0"/>
    <mass value="2.420566632833367"/>
    <inertia ixx="0.000455" iyy="0.031668" izz="0.031478" ixy="-0.000981" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.057381 0.331013 -0.1545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/right_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.057381 0.331013 -0.1545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/right_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_wheel_1">
  <inertial>
    <origin xyz="0.013999999999999957 0.18633913892803772 -0.42461804516587487" rpy="0 0 0"/>
    <mass value="4.669751850982787"/>
    <inertia ixx="0.005221" iyy="0.005251" izz="0.008081" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.365 0.186227 -0.464" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/caster_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.365 0.186227 -0.464" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find my_robot_cam_description)/meshes/caster_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.336 0.0 0.714" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="camera_1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="-0.046 -0.186 1.124" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

<joint name="Revolute 10" type="continuous">
  <origin xyz="-0.024 0.2012 0.508" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 11" type="continuous">
  <origin xyz="-0.024 -0.5732 0.508" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
</joint>

<joint name="Revolute 12" type="continuous">
  <origin xyz="-0.057381 0.331012 0.1545" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_arm_1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
</joint>

<joint name="Revolute 13" type="continuous">
  <origin xyz="-0.057381 -0.331013 0.1545" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_arm_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="Rigid 14" type="fixed">
  <origin xyz="-0.365 -0.186227 0.464" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_wheel_1"/>
</joint>

</robot>
