<?xml version="1.0" ?>
<robot name="My_Robot_Cam_UDRF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find My_Robot_Cam_UDRF_description)/urdf/materials.xacro" />
<xacro:include filename="$(find My_Robot_Cam_UDRF_description)/urdf/My_Robot_Cam_UDRF.ros2control" />
<xacro:include filename="$(find My_Robot_Cam_UDRF_description)/urdf/My_Robot_Cam_UDRF.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.07327696957668513 0.18599999999999897 0.03780217439911652" rpy="0 0 0"/>
    <mass value="234.7770329034331"/>
    <inertia ixx="30.45054" iyy="20.65215" izz="32.896368" ixy="-0.0" iyz="-0.0" ixz="-0.345272"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_1">
  <inertial>
    <origin xyz="1.6653345369377348e-16 -5.551115123125783e-17 -0.017000000000000015" rpy="0 0 0"/>
    <mass value="1.191651999466405"/>
    <inertia ixx="0.000907" iyy="0.000363" izz="0.00104" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.36 -0.186 -0.344" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.36 -0.186 -0.344" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="0.02000000000000003 -8.326672684688674e-17 -0.007000000000000117" rpy="0 0 0"/>
    <mass value="2.1007654145366375"/>
    <inertia ixx="0.001356" iyy="0.001356" izz="0.002034" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.002 -0.186 -0.384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.002 -0.186 -0.384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="1.491862189340054e-16 0.02300000000000002 -0.030000000000000054" rpy="0 0 0"/>
    <mass value="1.555503053757221"/>
    <inertia ixx="0.004956" iyy="0.009411" izz="0.004956" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.024 -0.5732 0.232" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.024 -0.5732 0.232" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="-2.42861286636753e-17 -0.023000000000000104 -0.03" rpy="0 0 0"/>
    <mass value="1.5555030537572214"/>
    <inertia ixx="0.004956" iyy="0.009411" izz="0.004956" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.024 0.2012 0.232" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.024 0.2012 0.232" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_arm_1">
  <inertial>
    <origin xyz="0.1917093322749274 -0.002691315286684093 -0.02000000000000013" rpy="0 0 0"/>
    <mass value="2.420566632833367"/>
    <inertia ixx="0.000455" iyy="0.031668" izz="0.031478" ixy="0.000981" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.033381 -0.517012 0.2155" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/left_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.033381 -0.517012 0.2155" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/left_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_arm_1">
  <inertial>
    <origin xyz="0.1917093322749274 0.002692315286683955 -0.020000000000000073" rpy="0 0 0"/>
    <mass value="2.420566632833367"/>
    <inertia ixx="0.000455" iyy="0.031668" izz="0.031478" ixy="-0.000981" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.033381 0.145013 0.2155" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/right_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.033381 0.145013 0.2155" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find My_Robot_Cam_UDRF_description)/meshes/right_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="camera_joint" type="fixed">
  <origin xyz="0.36 0.186 0.344" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="camera_1"/>
</joint>

<joint name="lidar_joint" type="fixed">
  <origin xyz="0.002 0.186 0.384" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

<joint name="left_wheel" type="continuous">
  <origin xyz="0.024 0.5732 -0.232" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="right_wheel" type="continuous">
  <origin xyz="0.024 -0.2012 -0.232" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="left_arm" type="continuous">
  <origin xyz="-0.033381 0.517012 -0.2155" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_arm_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="right_arm" type="continuous">
  <origin xyz="-0.033381 -0.145013 -0.2155" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_arm_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

</robot>
